<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <title>canvas face</title>
  <style>
    .shiftList {
      display: flex;
      width: 1000px;
    }
    .memberList {
      width: 20%;
      padding: 10px;
    }
    p {
      background: #ff883b;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
    }
    li {
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
    ul li:nth-child(odd) {
      background: #41bddd;
      color: #fff;
    }
    ul li:nth-child(even) {
      background: #83dd41;
      color: #fff;
    }
  </style>
</head>

<body>
  <div id="app">
    <input type="button" value="結果表示" v-on:click="addShiftList">
    <div class="shiftList">
      <div class="memberList">
        <p>月曜日</p>
        <ul>
          <li v-for="name in week01[0].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>火曜日</p>
        <ul>
          <li v-for="name in week01[1].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>水曜日</p>
        <ul>
          <li v-for="name in week01[2].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>木曜日</p>
        <ul>
          <li v-for="name in week01[3].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>金曜日</p>
        <ul>
          <li v-for="name in week01[4].members">{{ name }}</li>
        </ul>
      </div>
    </div>
    <div class="shiftList">
      <div class="memberList">
        <p>月曜日</p>
        <ul>
          <li v-for="name in week02[0].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>火曜日</p>
        <ul>
          <li v-for="name in week02[1].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>水曜日</p>
        <ul>
          <li v-for="name in week02[2].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>木曜日</p>
        <ul>
          <li v-for="name in week02[3].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>金曜日</p>
        <ul>
          <li v-for="name in week02[4].members">{{ name }}</li>
        </ul>
      </div>
    </div>
    <div class="shiftList">
      <div class="memberList">
        <p>月曜日</p>
        <ul>
          <li v-for="name in week03[0].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>火曜日</p>
        <ul>
          <li v-for="name in week03[1].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>水曜日</p>
        <ul>
          <li v-for="name in week03[2].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>木曜日</p>
        <ul>
          <li v-for="name in week03[3].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>金曜日</p>
        <ul>
          <li v-for="name in week03[4].members">{{ name }}</li>
        </ul>
      </div>
    </div>
    <div class="shiftList">
      <div class="memberList">
        <p>月曜日</p>
        <ul>
          <li v-for="name in week04[0].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>火曜日</p>
        <ul>
          <li v-for="name in week04[1].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>水曜日</p>
        <ul>
          <li v-for="name in week04[2].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>木曜日</p>
        <ul>
          <li v-for="name in week04[3].members">{{ name }}</li>
        </ul>
      </div>
      <div class="memberList">
        <p>金曜日</p>
        <ul>
          <li v-for="name in week04[4].members">{{ name }}</li>
        </ul>
      </div>
    </div>
  </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
<script src="js/main.js"></script>
</html>